body {
    font-family: Arial, sans-serif;
    background-image: url('background-image.jpg'); /* Путь к вашему изображению */
    background-size: cover; /* Растягиваем изображение на весь экран */
    background-position: center; /* Выравниваем изображение по центру */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

.anime-info {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

#random-button img {
    width: 50px; /* Устанавливаем ширину изображения */
    height: 30px; /* Устанавливаем высоту изображения */
}



